<p *ngIf="estaCargando; else noEstaCargandoTemplate">
  Cargando, por favor espere...
</p>
<ng-template #noEstaCargandoTemplate>
  <ul>
    <li *ngFor="let persona of personas">{{ persona }}</li>
  </ul>
</ng-template>

<div [ngSwitch]="mensajeNumero">
  <span *ngSwitchCase="1">Valor 1</span>
  <span *ngSwitchCase="2">Valor 2</span>
  <span *ngSwitchCase="3">Valor 3</span>
  <span *ngSwitchDefault>No hay ninguna coincidencia</span>
</div>


<!-- <div [ngClass]="{
  success: estaCargando,
  error: !estaCargando
}" [ngStyle]="{ 'font-size': getFontSize(3) }"

>
  {{ estaCargando ? 'AHORA MISMO ESTA CARGANDO' : 'NO ESTA CARGANDO'  }}
</div> -->

<!-- <p appBloqueRedondeado appDraggable>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptas illum neque quam ducimus, repellat ipsum ea delectus in. Cumque molestiae error accusantium vitae veritatis quidem in, exercitationem quae dignissimos!
</p>

<div appDraggable style="background: red;">
  <h1> BLOQUE </h1>
  <button>
    HOLA
  </button>
</div> -->


